# Dataset Exploration

In [1]:
import math
import numpy as np
import pandas as pd
from collections import Counter

In [2]:
path = "State_of_Iowa_Salary_Book.csv"

In [3]:
def money_to_float(x):
    try:
        if type(x) == float:
            return x
        return float(x.strip('$'))
    except ValueError:
        return float('nan')

def base_salary_to_float(x):
    try:
        if type(x) == float and math.isnan(x):
            return (None, float('nan'))
        elif type(x) == float:
            return (None, x)
        x = x.strip(" ")
        if x == "":
            return (None, float('nan'))
        elif x == "TERMINATED":
            return ("TERMINATED", float('nan'))
        elif x == "Terminated":
            return ("Terminated", float('nan'))
        elif x == "-0-":
            return ("-0-", float('nan'))
        elif x == "ON LEAVE":
            return ("ON LEAVE", float('nan'))
        elif x == "nan":
            return (None, float('nan'))
        elif x == float("nan"):
            return (None, float('nan'))
        else:
            s = x.replace('/', " ").split(' ')
            if len(s) < 2:
                return (None, float(s[0].strip('$').replace(',', "")))
            return (s[1], float(s[0].strip('$').replace(',', "")))
    except:
        # this is to show rows that failed the parsing
        print("<-"+x+"->", type(x))

In [4]:
data = pd.read_csv(path, parse_dates=[0,8], converters={'Total Salary Paid': money_to_float, 'Base Salary': base_salary_to_float, 'Travel & Subsistence': money_to_float})#,("Department", str),("Agency/Institution", ),("Name", ),("Gender", ),("Place of Residence", ),("Position", ),("Base Salary", ),("Base Salary Date", ),("Total Salary Paid", ),("Travel & Subsistence", )])

<-HR-> <class 'str'>
<-YR-> <class 'str'>
<-20.12HR-> <class 'str'>
<-262.99DA-> <class 'str'>

In [5]:
data.dtypes

Fiscal Year             datetime64[ns]
Department                      object
Agency/Institution              object
Name                            object
Gender                          object
Place of Residence              object
Position                        object
Base Salary                     object
Base Salary Date        datetime64[ns]
Total Salary Paid              float64
Travel & Subsistence           float64
dtype: object

In [6]:
data

,Fiscal Year,Department,Agency/Institution,Name,Gender,Place of Residence,Position,Base Salary,Base Salary Date,Total Salary Paid,Travel & Subsistence
0,2007-01-01,"Administrative Services, Department of",NaN,ABELS BEVERLY J,F,POLK,ADVANCED PERSONNEL MGMT,"(HR, 31.62)",2007-07-01,6462.34,NaN
1,2007-01-01,"Administrative Services, Department of",NaN,ABRAMS JERRY A,M,WAPELLO,EARLY OUT POSITION,"(TERMINATED, nan)",2007-07-01,4242.82,NaN
2,2007-01-01,"Administrative Services, Department of",NaN,ADAMS CAROL L,F,MITCHELL,ADVANCED PERSONNEL MGMT,"(BW, 2212.8)",2007-07-01,55065.60,924.44
3,2007-01-01,"Administrative Services, Department of",NaN,ADAMS JEANNIE R,F,POLK,ACCOUNTING TECHNICIAN 2,"(BW, 1226.4)",2007-07-01,30800.83,6.80
4,2007-01-01,"Administrative Services, Department of",NaN,ADAMS NED J,M,POLK,EARLY OUT POSITION,"(TERMINATED, nan)",2007-07-01,10634.33,NaN
5,2007-01-01,"Administrative Services, Department of",NaN,ADAMSON DAVID A,M,POLK,CONSTRUCTION/DESIGN ENGN,"(TERMINATED, nan)",2007-07-01,77647.67,364.22
6,2007-01-01,"Administrative Services, Department of",NaN,ALLEN DANIEL S,M,POLK,CUSTODIAL WORKER,"(TERMINATED, nan)",2007-07-01,10520.28,7.48
7,2007-01-01,"Administrative Services, Department of",NaN,ALLEN ROSALIE R,F,CHEROKEE,EARLY OUT POSITION,"(TERMINATED, nan)",2007-07-01,2588.47,NaN
8,2007-01-01,"Administrative Services, Department of",NaN,ALLEN SANDRA L,F,POLK,INFO TECH SPECIALIST 2,"(BW, 2194.4)",2007-07-01,56205.58,65.28
9,2007-01-01,"Administrative Services, Department of",NaN,ALLERHEILIGEN RICHARD D,M,NaN,EARLY OUT POSITION,"(TERMINATED, nan)",2007-07-01,1522.67,NaN
10,2007-01-01,"Administrative Services, Department of",NaN,ALLEY LYLE W,M,MILLS,EARLY OUT POSITION,"(TERMINATED, nan)",2007-07-01,1645.32,NaN
11,2007-01-01,"Administrative Services, Department of",NaN,ALLIE MERLIN P,M,STORY,EARLY OUT POSITION,"(TERMINATED, nan)",2007-07-01,11201.75,NaN
12,2007-01-01,"Administrative Services, Department of",NaN,ANDERSON BRAD M,M,POLK,EXEC OFF 4,"(BW, 3375.2)",2007-07-01,1966.08,2414.40
13,2007-01-01,"Administrative Services, Department of",NaN,ANDERSON JAMES D,M,POLK,EARLY OUT POSITION,"(TERMINATED, nan)",2007-07-01,7238.27,NaN
14,2007-01-01,"Administrative Services, Department of",NaN,ANDERSON JR MAURICE W,M,JACKSON,EARLY OUT POSITION,"(TERMINATED, nan)",2007-07-01,8669.38,NaN
15,2007-01-01,"Administrative Services, Department of",NaN,ANDERSON KENNETH L,M,POLK,INFO TECH SPECIALIST 5,"(BW, 3349.6)",2007-07-01,87204.19,NaN
16,2007-01-01,"Administrative Services, Department of",NaN,ANDERSON MOLLIE K,F,WARREN,DIR DEPT ADMINISTRATIVE,"(YR, 144200.0)",2007-07-01,140694.27,3343.94
17,2007-01-01,"Administrative Services, Department of",NaN,ANDERSON RANDOLPH G,M,POLK,CLERK-ADVANCED,"(BW, 1237.6)",2007-07-01,31218.40,NaN
18,2007-01-01,"Administrative Services, Department of",NaN,ANDERSON VICKIE L,F,POLK,ADVANCED PERSONNEL MGMT,"(BW, 2908.8)",2007-07-01,74780.80,612.09
19,2007-01-01,"Administrative Services, Department of",NaN,ANDERSON VICTOR N,M,POLK,INFO TECH ADMIN 1,"(BW, 3193.6)",2007-07-01,82191.20,NaN
20,2007-01-01,"Administrative Services, Department of",NaN,ANGLEN EDWARD A,M,MILLS,EARLY OUT POSITION,"(TERMINATED, nan)",2007-07-01,2942.86,NaN
21,2007-01-01,"Administrative Services, Department of",NaN,ANSTEY LYNN M.,F,POLK,ACCOUNTING TECHNICIAN 2,"(BW, 1598.4)",2007-07-01,38512.80,NaN
22,2007-01-01,"Administrative Services, Department of",NaN,ARMOUR KENNETH D,M,POLK,CUSTODIAL WORKER,"(TERMINATED, nan)",2007-07-01,19357.09,NaN
23,2007-01-01,"Administrative Services, Department of",NaN,ARVIDSON GEORGE A,M,POLK,EARLY OUT POSITION,"(TERMINATED, nan)",2007-07-01,8212.53,NaN
24,2007-01-01,"Administrative Services, Department of",NaN,ASHMORE LYN S,M,HARDIN,EARLY OUT POSITION,"(TERMINATED, nan)",2007-07-01,9722.32,NaN
25,2007-01-01,"Administrative Services, Department of",NaN,AUDINO JEAN A.,F,NaN,EARLY OUT POSITION,"(TERMINATED, nan)",2007-07-01,3199.57,NaN
26,2007-01-01,"Administrative Services, Department of",NaN,AVRITT GORDON DOUGLAS,M,POLK,CUSTODIAL WORKER,"(BW, 1180.8)",2007-07-01,31786.64,NaN
27,2007-01-01,"Administrative Services, Department of",NaN,AXNE CYNTHIA L,F,POLK,PERSONNEL MGMT PROG COOR,"(BW, 3087.2)",2007-07-01,86464.80,1084.30
28,2007-01-01,"Administrative Services, Department of",NaN,AYERS LISA A,F,BOONE,ACCOUNTING TECHNICIAN 3,"(BW, 1437.6)",2007-07-01,20160.00,37.40
29,2007-01-01,"Administrative Services, Department of",NaN,BABCOCK DENNIS S,M,POLK,INFO TECH ENTERPRISE EXP,"(BW, 4792.0)",2007-07-01,121257.05,2398.70
...,...,...,...,...,...,...,...,...,...,...,...
665295,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"SLAUGHTER, DAVID",M,POTTAWATTAMIE,PPFUW,"(HR, 23.91)",2017-07-01,55021.99,0.00
665296,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"SMITH, NYLE",M,POTTAWATTAMIE,ATHLETIC DIRECTOR,"(HR, 25629.0)",2017-07-01,29036.00,105.05
665297,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"SORENSEN, JANE",F,POTTAWATTAMIE,COOK II,"(HR, 22.88)",2017-07-01,37247.05,0.00
665298,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"STAGEMAN, ELLEN",F,POTTAWATTAMIE,SECRETARY II,"(TERMINATED, nan)",2017-07-01,18431.71,0.00
665299,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"STEG, JODI",F,SARPY,TEMP CHAPERONE,"(HR, 16.83)",2017-07-01,1265.49,73.45
665300,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"STEVENS, ROXANNA",F,SARPY,TEACHER,"(YR, 70158.0)",2017-07-01,70063.01,0.00
665301,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"SULENTIC, MEREDITH",F,POTTAWATTAMIE,SCHOOL ASSISTANT,"(HR, 17.56)",2017-07-01,28922.89,0.00
665302,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"SWARTZ, ABIGAIL",F,DOUGLAS,SPEECH PATHOLOGIST,"(YR, 53638.0)",2017-07-01,52731.16,808.20
665303,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"SWOBODA, TYLER",M,POTTAWATTAMIE,SCHOOL ASSISTANT,"(TERMINATED, nan)",2017-07-01,21498.38,0.00
665304,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"TEER, JOEL",M,DOUGLAS,TEMP CHAPERONE,"(HR, 16.83)",2017-07-01,1169.88,8.02
665305,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"TENNEY, MARI",F,POTTAWATTAMIE,TEMP CHAPERONE,"(HR, 16.83)",2017-07-01,9280.19,299.88
665306,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"THIESSEN, ANN",F,DOUGLAS,SPEECH PATHOLOGIST,"(YR, 81255.0)",2017-07-01,83168.01,81.76
665307,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"THORNOCK, TY",M,DOUGLAS,ASSISTANT PRINCIPAL,"(YR, 87138.0)",2017-07-01,86275.01,145.60
665308,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"TOSCANO, TRACIE",F,SARPY,SCHOOL PSYCHOLOGIST,"(YR, 72101.0)",2017-07-01,70112.01,713.61
665309,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"TRASTER, JENNIFER",F,SARPY,TEMP CHAPERONE,"(HR, 16.83)",2017-07-01,11141.85,587.81
665310,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"TRASTER, JORDAN",M,SARPY,TEMP CHAPERONE,"(HR, 16.83)",2017-07-01,7075.35,143.27
665311,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"TURNER, AMANDA",F,DOUGLAS,TEMP CHAPERONE,"(HR, 16.83)",2017-07-01,10714.54,154.33
665312,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"VERSCH, SCOTT",M,SARPY,TEACHER,"(YR, 59663.0)",2017-07-01,58029.01,0.00
665313,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"VILLAVERDE, ASHLEY",F,DOUGLAS,TEACHER,"(YR, 58609.0)",2017-07-01,57943.69,0.00
665314,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"WALLACE, SUSAN",F,POTTAWATTAMIE,SECRETARY II,"(HR, 20.45)",2017-07-01,37040.01,0.00
665315,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"WATSON, ELISHA",F,SARPY,INTERPRETER SUB,"(HR, 21.44)",2017-07-01,12269.04,0.00
665316,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"WATSON, JEANETTE",F,POTTAWATTAMIE,TEACHER,"(TERMINATED, nan)",2017-07-01,83081.01,0.00
665317,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"WELSCH, BRENT",M,POTTAWATTAMIE,SIGN LANGUAGE INSTRUCTOR,"(YR, 66690.0)",2017-07-01,65978.01,86.49
665318,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"WESLEY, KAY",F,POTTAWATTAMIE,TEMP CLERICAL HELPER,"(HR, 9.55)",2017-07-01,6448.37,0.00
665319,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"WILCOX, STANLEY",M,POTTAWATTAMIE,TEMP CHAPERONE,"(HR, 16.83)",2017-07-01,12758.64,407.64
665320,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"WILLER, DELORES",F,POTTAWATTAMIE,NURSE,"(HR, 32.41)",2017-07-01,54301.06,0.00
665321,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"WILLS, KRISTI",F,DOUGLAS,TEACHER,"(YR, 81255.0)",2017-07-01,81581.01,0.00
665322,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"WINGER, HEIDI",F,POTTAWATTAMIE,HOUSPARENT I,"(HR, 20.95)",2017-07-01,40540.22,346.50
665323,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"WRIGHT, KATHLEEN",F,POTTAWATTAMIE,TEACHER SUB,"(HR, 18.75)",2017-07-01,1200.00,0.00
665324,2017-01-01,"Regents, Board of",Iowa School For The Deaf,"WRIGHT, LEAH",F,POTTAWATTAMIE,TEMP CHAPERONE,"(HR, 16.83)",2017-07-01,6487.53,39.10

In [7]:
print("Number of unique elements per column")
for k in [1, 2, 4, 5, 6]:
    c = Counter([i[k] for i in data.values])  # there is probably a better way to count using pandas
    print(data.columns[k], ":", len(c))

Number of unique elements per column
Department : 53
Agency/Institution : 37
Gender : 7
Place of Residence : 1426
Position : 5699

## End of initial data munging